<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>fieldsize</key>
	<integer>400</integer>
	<key>interval</key>
	<integer>200</integer>
	<key>scores</key>
	<array>
		<dict>
			<key>level</key>
			<integer>10</integer>
			<key>name</key>
			<string>brian</string>
			<key>score</key>
			<integer>2000</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>9</integer>
			<key>name</key>
			<string>matias</string>
			<key>score</key>
			<integer>1800</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>8</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>1600</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>7</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>1400</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>6</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>1200</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>5</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>4</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>800</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>3</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>2</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>name</key>
			<string>me</string>
			<key>score</key>
			<integer>200</integer>
		</dict>
	</array>
	<key>transparency</key>
	<integer>30</integer>
</dict>
</plist>
